{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/_style/cropper.css') }}" />
    <script src="{{ asset('assets/_js/cropper.js') }}"></script>
    <script src="{{ asset('assets/_js/cropimage.js') }}"></script>

    <div class="event-edit-profile-body">
        <main>
            {{ form_start(form_register, {'attr': {'class': 'frm-event-general'}}) }}
            <h1>Mi Perfil <i class="fas fa-user-edit"></i></h1>

            {{ form_errors(form_register) }}

            {% block block_name %}
                {{ form_label(form_register.name, 'Nombres', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.name) }}
                    {{ form_widget(form_register.name) }}
                </div>
            {% endblock %}

            {% block block_surname %}
                {{ form_label(form_register.surname, 'Apellidos', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.surname) }}
                    {{ form_widget(form_register.surname) }}
                </div>
            {% endblock %}

            {% block block_gender %}
                {{ form_label(form_register.gender, 'Sexo', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.gender) }}
                    {{ form_widget(form_register.gender) }}
                </div>
            {% endblock %}

            {% block block_date %}
                {{ form_label(form_register.birthday, 'Fecha de Nacimiento', {'label_attr': {'class': ''}}) }}

                <div class="form-group ev-date-control">
                    {{ form_errors(form_register.birthday) }}
                    {{ form_widget(form_register.birthday.day, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form_register.birthday.month, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form_register.birthday.year, {'attr': {'class': 'form-control'}}) }}
                </div>
            {% endblock %}

            {% block block_phone %}
                {{ form_label(form_register.phone, 'Phone', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.phone) }}
                    {{ form_widget(form_register.phone) }}
                </div>
            {% endblock %}

            {% block blockcompany %}
                {{ form_label(form_register.company, 'Soy Empresa', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.company) }}
                    {{ form_widget(form_register.company) }}
                </div>
            {% endblock %}
            {% block block_cid %}
                {{ form_label(form_register.companyid, 'Doc. Identidad', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.companyid) }}
                    {{ form_widget(form_register.companyid) }}
                </div>
            {% endblock %}
            {% block block_description %}
                {{ form_label(form_register.description, 'Algo sobre mí', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.description) }}
                    {{ form_widget(form_register.description) }}
                </div>
            {% endblock %}


            {% block block_password %}
                {{ form_label(form_register.password, 'New Password', {'label_attr': {'class': ''}}) }}
                <div class="form-group">
                    {{ form_errors(form_register.password) }}
                    {{ form_widget(form_register.password) }}
                </div>
            {% endblock %}

            {{ form_widget(form_register.Registrar) }}

            {{ form_end(form_register) }}

        </main>
        <aside>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>

            <div class="frm-event-general" style="
                margin: 0 auto 0 auto;
                width: 100%;
                padding: 1em;
                padding-bottom: 60px;">

                <div class="form-group">
                    <h1>Mi Foto <i class="fas fa-expand"></i></h1>
                    <form method="post">
                        <div id="upload-image"></div>
                        <label for="photo_user" class="btn btn-big">
                            Seleccionar Foto <i class="far fa-image"></i>
                        </label>
                        <input type="file" name="photo_user" id="photo_user" required="required" class="sr-only" accept="image/*"  >
                        <button class="btn btn-primary btn-big cropped_image">Upload Image <i class="fas fa-cloud-upload-alt"></i></button>

                    </form>
                </div>

            </div>



        </aside>
    </div>

    {% if app.user.photo == 1 %}
    {% else %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    $image_crop = $('#upload-image').croppie({

        url: '{{asset(varGlobImgAvatars~app.user.coverprofile)}}',
        enableExif: true,
        viewport: {
        width: 250,
        height: 250,
        type: 'circle'
    },
    boundary: {
    width: 250,
    height: 250,
    }
    });
    $('#photo_user').on('change', function () {
    var reader = new FileReader();
    reader.onload = function (e) {
        $image_crop.croppie('bind', {
        url: e.target.result
        }).then(function(){
        console.log('jQuery bind complete');
        });
    }
        reader.readAsDataURL(this.files[0]);
    });

        $('.cropped_image').on('click', function (ev) {
            ev.preventDefault();
            $image_crop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (response) {
                var form_photo = new FormData();
                form_photo.append('image',response);
                $.ajax({
                    url: '{{ path('upload_cover_profile') }}',//URL_EVENTSOFT + '/my-profile/photo-new',
                    //type: "POST",
                    //data: form_photo,
                    type: 'POST',
                    contentType: false,
                    data: form_photo,  // mandamos el objeto formdata que se igualo a la variable data
                    processData: false,
                    cache: false,
                    //data: {"image":response},
                    success: function (data) {
                        console.log(data);
                        $("#ev-avatar").attr("src",URL_PUBLIC+data.img);
                    }
                });
            });
        });

</script>
{% endblock %}
