{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesion{% endblock %}

{% block body %}
    <div class="col-sm-5 form-box wow fadeInUp animated" style="    visibility: visible;
    animation-name: fadeInUp;
    max-width: 500px;
    margin: auto;">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Inicie Sesión Ahora</h3>
                <p>Ingrese su email y contraseña para iniciar sesión</p>
            </div>
            <div class="form-top-right">
                <i class="fas fa-key"></i>
            </div>
        </div>
        {{ error }}
        <div class="form-bottom">
            {% if error %}

                {{ error.messagekey|trans(error.messageData, 'security') }}
            {% endif %}


            <form role="form" action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label class="sr-only" for="username">Email</label>
                    <input type="text" name="_username" placeholder="Email" value="{{ last_name }}" class="username form-control" id="username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Contraseña</label>
                    <input type="password" name="_password" placeholder="Contraseña" class="password form-control" id="password">
                </div>

                <!--<input type="submit" value="Entrar">-->
                <button type="submit" class="btn btn-primary btn-big">Entrar</button>
                <div class="form-links">
                    <a href="{{ path('register') }}" class="launch-modal" data-modal-id="modal-privacy">Regístrate Ahora</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
