<!DOCTYPE html>
<html lang="es-Pe" class="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ asset('assets/_style/style.css') }}" />
    <meta name="theme-color" content="--bg-main-header">
    <!--
      meta tags valius
    -->
    <link rel="shortcut icon" href="{{ asset('assets/_img/favicon.ico') }}" type="image/x-icon">
    <meta name="description" content="Este contenido es super chevere...">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <title>EventSoft - {% block title %}Welcome!{% endblock %}</title>

    <script type="text/javascript">
        let URL_PUBLIC = "/EVENTSOFT/App/public/";
        let URL_EVENTSOFT = '{{ app.request.getSchemeAndHttpHost }}' + '/EVENTSOFT/App/public';
    </script>
</head>

<body>
<header>
    <div class="wraper ev-header">
        <div class="ev-logo">
            <div>e</div><span>EventSoft</span>

        </div>

            <div class="input-group">
                <input type="text" class="form-control" id="ev-input-search" placeholder="Search EventSoft">
                <span class="input-group-btn">
                  <button class="btn btn-default" id="ev-btn-search-events" type="submit" onclick="javascript:SearchEvent()" style="height: 34px;"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

        <nav>
            <ul>
                {% if app.user %}

                    <li class="media-hidden"><a href="{{ path('event') }}" class="especial-link" data-toggle="tooltip" data-placement="bottom" title="Inicio"><i class="fas fa-home"></i></a></li>
                    <li class="media-hidden"><a href="{{ path('view_interest') }}" class="especial-link" data-toggle="tooltip" data-placement="bottom" title="Mis intereses"><i class="fas fa-star"></i></a></li>
                    <li class="media-hidden"><a href="{{ path('whereiwillgo') }}" class="especial-link" data-toggle="tooltip" data-placement="bottom" title="Eventos a los que iré"><i class="fas fa-heart"></i></a></li>
                    <li class="media-hidden"><a href="#"  class="especial-link"><i class="far fa-calendar-alt" data-toggle="tooltip" data-placement="bottom" title="Mis eventos creados"></i></a></li>
                {% else %}
                    <li class="media-hidden"><a href="{{ path('login') }}">Login</a></li>
                    <li class="media-hidden"><a href="{{ path('register') }}">Register</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="ev-toggle-avatar" style="
                            margin-right: 0;
                            padding-right: 0;
                            display: flex;
                            ">
                        {% if app.user %}
                            <span class="media-hidden" style="font-size: 120%;">{{ app.user.name }}</span>

                            {% if app.user.photo == 1 %}
                                <div class="ev-avatar" id="profile-result"><img id="ev-avatar" src="{{asset(varGlobImgAvatars~app.user.coverprofile)}}"></div>
                            {% else %}
                                <i class="far fa-grin-beam" style="
                                height: 50px;
                                line-height: 50px;
                                margin-left: 10px;
                                font-size: 250%;
                            {% if app.user.gender == 1 %}
                                color: dodgerblue;
                            {% else %}
                                color: hotpink;
                            {% endif %}
                                "></i>
                            {% endif %}
                        {% else %}
                            <i class="fas fa-ellipsis-v" style="
                                height: 50px;
                                line-height: 50px;
                                font-size: 250%;
                            "></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if app.user %}
                            <li class="media-show"><a href="{{ path('event') }}"><i class="fas fa-home ev-drop-menu"></i> Inicio</a></li>
                            <li class="media-show"><a href="{{ path('view_interest') }}"><i class="fas fa-star ev-drop-menu"></i> Mis Intereses</a></li>
                            <li class="media-show"><a href="{{ path('whereiwillgo') }}"><i class="fas fa-heart ev-drop-menu"></i> Eventos A Los Que Ire</a></li>
                            <li class="media-show"><a href="#"><i class="far fa-calendar-alt ev-drop-menu"></i> Mis Eventos</a></li>
                            <li><a href="#"><i class="fas fa-cog ev-drop-menu"></i> Configuración De La Cuenta</a></li>
                            <li><a href="{{ path('edit_my_profile') }}"><i class="fas fa-user-edit ev-drop-menu"></i> Editar Mi Perfil</a></li>
                        {% else %}
                            <li class="media-show"><a href="{{ path('login') }}"><i class="fas fa-key ev-drop-menu"></i> Login</a></li>
                            <li class="media-show"><a href="{{ path('register') }}"><i class="fas fa-pencil-alt ev-drop-menu"></i> Register</a></li>
                        {% endif %}
                        <li>
                            <a style="
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                ">
                                <p><i class="fas fa-adjust ev-drop-menu"></i> Modo Oscuro</p>
                                <label class="switch">
                                    <input type="checkbox" id="switch" name="theme">
                                    <span class="slider round"></span>
                                </label>
                            </a>
                        </li>
                        {% if app.user %}
                        <li><a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt ev-drop-menu"></i> Cerrar sesión</a></li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

    <div id="ev-loading-screen" style="display: none">
        <img src="{{ asset('assets/_img/spinner.svg') }}" alt="">
    </div>

</header>
<section class="wraper main-content">
    {% block body %}{% endblock %}
</section>
<footer>
    <div class="wraper " id="footer ">
        <nav>
            <ul>
                <li><a href="mailto "><span>Contactanos</span></a></li>
                <li><a href="# "><span>Soporte</span></a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
<script src="{{ asset('assets/_js/app.js') }}"></script>

    {% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function () {

            var screen = $('#ev-loading-screen');
            configureLoadingScreen(screen);

        });
        function configureLoadingScreen(screen) {
            $(document).ajaxStart(function () {
                screen.fadeIn();
            }).ajaxStop(function () {
                screen.fadeOut();
            });
        }

        const $menu = $('.dropdown');
        const $menu_child = $('.dropdown-menu');
        $(document).mouseup(e => {
            if (!$menu.is(e.target) // if the target of the click isn't the container...
                && $menu.has(e.target).length === 0) // ... nor a descendant of the container
            {
                $menu_child.fadeOut(100);
            }
        });
        $('.ev-toggle-avatar').on('click', () => {
            event.preventDefault()
            $menu_child.fadeToggle(100);
        });

        var input_search = document.getElementById("ev-input-search");
        input_search.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("ev-btn-search-events").click();
            }
        });

        function SearchEvent() {
            alert('buscar');
        }
    </script>
{% endblock %}

</html>